<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users API documentation</title>
    <style>
    table, th, td {
        border: 1px solid;
    }
    </style>
</head>
<body>

    <h1>Users API documentation</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/apidocs">API documentation</a></li>
    </ul>

    <p>None of the routes require authentication.</p>
    <p>All of the URLs are prepended with /api.</p>

    <table>
        <tr>
            <th>Method</th>
            <th>URL</th>
            <th>Parameters</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>GET</td>
            <td>/register</td>
            <td>string:username; string:password</td>
            <td>Register a new user</td>
        </tr>
        <tr>
            <td>POST</td>
            <td>/login</td>
            <td>string:username; string:password</td>
            <td>Log the user in</td>
        </tr>
    </table>

</body>
</html>